<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.gxust.blogex.dao.mappers.BlogMusicMapper">

    <resultMap type="cn.edu.gxust.blogex.dao.po.BlogMusicPO" id="BlogMusicMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="musicName" column="music_name" jdbcType="VARCHAR"/>
        <result property="musicArtist" column="music_artist" jdbcType="VARCHAR"/>
        <result property="musicUrl" column="music_url" jdbcType="VARCHAR"/>
        <result property="musicLrc" column="music_lrc" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


</mapper>

